{% extends 'base.html' %}

{% block title %}Liste des Réquisitions{% endblock %}

{% block content %}
    <h2>Mes Réquisitions</h2>
    <ul>
        {% for requisition in requisitions %}
            <li>
                <a href="{% url 'requisition_detail' requisition.pk %}">{{ requisition.details }}</a>
                - {{ requisition.amount }}
                - {{ requisition.status }}
                {% if requisition.requester == user %}
                    <a href="{% url 'requisition_share' requisition.pk %}">Partager</a>
                {% endif %}
            </li>
        {% empty %}
            <li>Aucune réquisition trouvée.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'requisition_create' %}">Créer une nouvelle réquisition</a>
{% endblock %}
